.dua{
    margin-top: 150px;    
    .container{
        .row{
            .kiri{
                .left {
                    display: flex;
                    align-items: center;

                    .grid {
                        width: 100px;
                        height: 1px;
                        background-color: #fff;
                    }

                    .text {
                        color: #fff;
                        margin-left: 20px;
                        font-size: 14px;
                        line-height: 30px;
                        font-weight: 300;
                        letter-spacing: 3.96px;
                    }
                }
            }
            .kanan{
                margin-left: 50px;
                .row{
                    .col{
                        img{
                            width: 120px;  
                        }
                        p{
                            font-size: 18px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: .73px;
                            color: #1f2960;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .gambar{
        img{
            margin-top: -150px;
        }
    }
}