.lima{
    margin-top: 100px;
    background-color: #fff;
    width: 100%;
    .container{
        .row{
            .col{
                .gambar{
                    img{
                        width: 100px;
                        padding: 55px 0;
                    }
                }
            }
            .lagi{
                padding-top: 40vh;
                h4{
                    font-size: 18px;
                    line-height: 1.6;
                    color: #525c79;
                    font-weight: lighter;
                    letter-spacing: 1px;
                }
                img{
                    width: 60px;
                    border-radius: 30px;
                    background-position: center;
                    float: left;
                    margin-right: 30px;
                    margin-top: 20px;
                }
                h5{
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: .51px;
                    color: #0832a8;
                    margin-bottom: 5px;
                    margin-top: 20px;
                }
                p{
                    letter-spacing: .46px;
                    color: #555f7f;
                    font-weight: 100;                    
                    margin-top: 10px;
                }
            }
        }

    }
}    
